.dashboard-container {
  display: flex;
  justify-content: flex-end;
  padding: 40px 20px 20px 20px;
}

.actions {
  display: flex;
  gap: 12px;
}

button {
  font-size: 15px;
  border-radius: 8px;
  padding: 8px 16px;
}


