<div class="dashboard">

  <div class="button-group">
    <button mat-raised-button color="primary" (click)="viewProfile()">Profile</button>
    <button mat-raised-button color="accent" (click)="addProperty()">Add Property</button>
    <button mat-raised-button color="warn" (click)="viewProperties()">My Properties</button>
    <button mat-raised-button color="warn" (click)="viewBookings()">My Bookings</button>
    <button mat-stroked-button color="basic" (click)="logout()">Logout</button>
  </div>




  </div>

  