.home-container {
  padding: 2rem;
  text-align: center;
}
.about, .features,.how-it-works, .get-started  {
  margin-top: 2rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #1976d2;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}
