<div class="admin-dashboard">
  <button mat-raised-button color="primary" (click)="goToHostList()">Hosts</button>
  <button mat-raised-button color="primary" (click)="goToGuestList()">Guests</button>
  <button mat-raised-button color="primary" (click)="goToPendingProperties()">Pending Approval Properties</button>
   <button mat-raised-button color="primary" (click)="goToDeleteRequestProperties()">Delete Request Properties</button>
   <button mat-stroked-button color="basic" (click)="logout()">Logout</button>
</div>

