<div class="dashboard">

  <!-- Top-right buttons -->
  <div class="dashboard-buttons">
    <button mat-raised-button color="primary" (click)="viewProfile()">Profile</button>
    <button mat-stroked-button color="basic" (click)="logout()">Logout</button>
  </div>

  <!-- Center search form -->
  <div class="guest-search-container">
    <form class="search-form" (ngSubmit)="search()">
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput [(ngModel)]="city" name="city" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Check-in</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="checkInDate" name="checkInDate" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Search</button>
    </form>
  </div>

  

    <!-- Filters on the left -->
    

    <!-- Property list on the right -->
    <div class="results-container">
      <div class="property-card" *ngFor="let p of properties">
        <img *ngIf="getImage(p)" [src]="getImage(p)" class="property-img" alt="Property Pic" />

        <div class="property-info">
          <h3>{{ p.title }}</h3>
          <p><strong>City:</strong> {{ p.city }}</p>
          <p><strong>Address:</strong> {{ p.address }}</p>
          <p><strong>Weekday Price:</strong> ₹{{ p.weekdayPrice }}</p>
          <p><strong>Weekend Price:</strong> ₹{{ p.weekendPrice }}</p>

          <button mat-raised-button color="primary" (click)="viewDetails(p.id)">View Details</button>
        </div>
      </div>
    </div>

  

  <button mat-raised-button color="primary" (click)="viewBookings()">My Bookings</button>
</div>

