  .host-list-container {
      padding: 24px;
    }
   

h2 {
  text-align: center;
  margin-bottom: 16px;
  color: #333;
}

table {
  width: 100%;
  margin-bottom: 24px;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 8px;
}

    